.carousel {
    width: 100%;
    overflow: hidden;
        .imgCarousel {
        height: 500px;
        opacity: 0.9;
    }
    .carousel-caption {
        position: map-get($position , position);
        top: map-get($position , top);
        z-index: map-get($position , index);
        font-weight:map-get($position , weight);
        p {
            text-transform: uppercase;
            color: white;
            font-weight: bolder;
            font-size: large;
        }
        img {
            width: 50px;
        }
    }
    
}



.tarjetaIndex{
    border-bottom: 3px solid rgb(0, 33, 122);
    h2{
        font-size: $textotablet;
        color: $colorPrimario;
        &:hover {
            background-color: $colorPrimario;
            color: white;
        }
        
    }
}

.tarjetaIndexSecundaria {
    h3{
        font-size: $textotablet;
        color: $colorPrimario;
        &:hover {
            background-color: $colorPrimario;
            color: white;
        }
    }
    
}

.sectionProductos{
    background-color: $colorPrimario;
    color: white;
    font-weight: bold;  
    .tarjetaTitulo {
        margin-bottom: 50px;
        padding: 10px;
        h4 {
            font-size: xx-large;
            font-weight: bolder;
            margin: 10px;
        }
    }   
    .cardsProd {
        width: 100%;
        margin: auto;
        color: $colorPrimario;
        margin-bottom: 20px;
        .cardProductosIndex{
            background-color: white;
            border-radius: 10px;
            -webkit-box-shadow: 3px 3px 3px 3px rgba(88,0,191,0.2);
            -moz-box-shadow: 3px 3px 3px 3px rgba(88,0,191,0.2);
            box-shadow: 3px 3px 3px 3px rgba(88,0,191,0.2);
            &:hover{
                transform: $hoverlinks;
                background-color: $colorTerciario;
                color: white;
            }
            h5{
                font-weight: bolder;
            }
        }
}

}

.sectionBlog {
    background-color: white;
    color: $colorPrimario;
    font-weight: 500;
    &:hover{
        background-color: $colorPrimario;
        color: white;
        
    }
    .tituloBlog {
        font-size: x-large;
        text-transform: uppercase;
    }
}




