.metodoHeader{
    background-color: $colorPrimario;
    color: white;
}

.cardMetodoX {
    border-radius: $bordesRedondeados;
    background-color: $colorPrimario;
    box-shadow: 3px 3px 3px 3px rgba(0,33,122,0.5);
    padding: 20px;
    color: white;
    font-weight: 500;
    &:hover{
        transform: $hoverlinks;
    }
    img{
        margin: 15px;
        overflow: hidden;
    }
    .tituloMetodox {
        color:$colorSecundario;
        font-weight: bolder;
    }
}

.sectionMetodox {
    background-color: $colorPrimario;
    color: white;
    font-weight: 500; 
}

.formMetodo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}
